<form [formGroup]="form" (ngSubmit)="onClick()">

  <div class="form-group">
    <label for="name">name</label>
    <input formControlName="name" type="text" class="form-control" id="name" >
    <div class="alert alert-danger" *ngIf="form.get('name').invalid && form.get('name').touched"> champs invalide </div>
  </div>

  <div class="form-group">
    <label for="email">email</label>
    <input formControlName="email" type="text" class="form-control" id="email" >
    <div class="alert alert-danger" *ngIf="form.get('email').invalid && form.get('email').touched"> champs invalide </div>
  </div>

  <div class="form-group">
    <label for="image">image</label>
    <input formControlName="image" type="text" class="form-control" id="image" >
    <div class="alert alert-danger" *ngIf="form.get('image').invalid && form.get('image').touched"> champs invalide </div>
  </div>



  <div class="form-group">
    <label for="state">state</label>
    <select  formControlName="state" type="text" class="form-control" id="state" >
      <option *ngFor="let state of states | keyvalue" [value]="state.value"> {{ state.value }}</option>
    </select>
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>

</form>


