<coderbase-ui>
  <ng-container header>
    <app-header></app-header>
  </ng-container>
  <div nav>
    <app-nav></app-nav>
  </div>
  <div content>
    <router-outlet></router-outlet>
  </div>
  <div footer>
    <app-footer></app-footer>
  </div>
</coderbase-ui>



<!--
  c'est fait comme ca coter coderbaseui  utiliser la projection avec les prorités custom (content, header etc)
  <header>
  <ng-content select="[header]"> </ng-content>
</header>
ng container -> fait la meme chose mais ne créer pas une div en plus,allège le dom


-->
